* {
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
  width: 100%;
  height: 110vh;
  background-image: url(images/wallpaperflare.com_wallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header-about {
  width: 100%;
  height: 2600px;
  background-color: black;
}

#header-portfolio {
  width: 100%;
  height: 2700px;
  background-color: black;
}

.container {
  padding: 30px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ff3366;
}

.header-text {
  margin-top: 70vh;
  text-align: center;
}

.header-text-contact {
  margin-top: 15vh;
  text-align: center;
}

.header-text-contact h1{
  margin-bottom: 15px;
  font-size: 80px;
}

.header-text h1{
  margin-bottom: 15px;
  font-size: 80px;
}

.highlight {
  color: #ff3366;
}

/* About Me CSS */

.about-me {
  margin: 150px 150px;
  width: 100%;
}

.container-about-me {
  
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 700px;
}

.category-1 {
  border-bottom: 2px dashed rgb(77, 77, 77);
  width: 200px;
  height: 150px;
}

.category-1-header {
  border-left: 2px dashed rgb(77, 77, 77);
  padding-left: 70px;
  padding-top: 50px;
  width: 100%;
}

.category-1-header p {
  font-size: 80px;
}

.category-1-text p {
  width: 1000px;
  margin-top: 70px;
  font-size: 24px;
}

.category-1-images {
  width: 900px;
  margin-top: 50px;
}

.container-1-imgs {
  display: flex;
}

.container-1-imgs img {
  width: 300px;
  margin: 0 15;
}

.category-2 {
  border-bottom: 2px dashed rgb(77, 77, 77);
  width: 200px;
  height: 150px;
}

.category-2-header {
  border-left: 2px dashed rgb(77, 77, 77);
  padding-left: 70px;
  padding-top: 50px;
  width: 100%;
}

.category-2-header p {
  font-size: 80px;
}

.category-2-text p {
  width: 1000px;
  margin-top: 70px;
  font-size: 24px;
}

.category-2-images {
  width: 900px;
  margin-top: 50px;
}

.container-2-imgs {
  display: flex;
}

.container-2-imgs img {
  width: 400px;
  margin: 0 15;
}


/* Portfolio CSS */

.portfolio {
  margin: 100px 150px;
  width: 100%;
}

.container-portfolio {
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 700px;
}

.portfolio-1-header {
  padding-left: 70px;
  padding-top: 50px;
  width: 1200px;
  text-align: right;
  border-bottom: 2px dashed rgb(77, 77, 77);
  margin-bottom: 25px;
}

.portfolio-1-header p {
  font-size: 80px;
}

.portfolio-1-text p {
  text-align: left;
  width: 1200px;
  margin-top: 70px;
  font-size: 24px;
}

.portfolio-1-images {
  width: 900px;
  margin-top: 50px;
}

.portfolio-1-imgs {
  display: flex;
}

.portfolio-1-imgs img {
  width: 350px;
  margin: 0 15;
}



.portfolio-2 {
  margin-top: 1000px;
  margin-left: 150px;
  width: 100%;
}

.container-portfolio {
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 200px;
}

.portfolio-2-header {
  padding-left: 70px;
  padding-top: 50px;
  width: 1200px;
  text-align: right;
  margin-bottom: 25px;
}

.portfolio-2-header p {
  font-size: 80px;
}

.portfolio-2-text p {
  text-align: left;
  width: 1200px;
  margin-top: 70px;
  font-size: 24px;
}

.portfolio-2-images {
  width: 900px;
  margin-top: 50px;
}

.portfolio-2-imgs {
  display: flex;
}

.portfolio-2-imgs img {
  width: 350px;
  margin: 0 15;
}





